/* Page Specific General CSS */
.section-header {
    margin-bottom: 80px;
    color: black;
}



#header{
    height: 100vh;
    background-image: url(../img/header.jpeg);
}
#header .link-holder{
    margin-top: 40px;
}
#header .header-link{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 20px;
    border: 2px solid white;
    
}
/* Why Us */

#why-us {
    background-color: #1f68d5;
    padding-top: 80px;
    padding-bottom: 75px;

}

#why-us .thumbnail {
    width: 90px;
    height: 90px;
    border: none;
    background: transparent;
}

/* Feel Free to contact us */
#feel-free{
    background-color: #477dfd;
    padding: 40px;
    
}

#feel-free a{
    margin-top: 30px;
    width: 15%;
    color: white;
    text-decoration: none;
    padding: 20px;
    border: 3px solid white;
}

#feel-free a:hover{
    color: black;
    border : 3px solid black;
}

/* #About Us */
#who-we-are{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    background-image: url(../img/who-We-Are.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#who-we-are .heading{
    margin-bottom: 35px;
}

#services{
    padding: 30px;
    margin: 0px;
    background-color: #222;
}
#services li{
    /* display: inline; */
    /* margin: 30px; */
}

#contact-us{
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-100deg, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(../img/contact-us.jpg);
    background-size: cover; 
    padding: 0px;
}

#contact-us form {
     width: 100%; 
     padding: 0;
}

#contact-us input{
    display: block;
    border: 1px solid white;
    padding: 10px 10px 10px;
    background: transparent;
    margin-bottom: 20px;
    width: 80%;
    color: white;
}
.button{
    width: 120px;
}
input[type="submit"]{
    border-radius: 0px;
    border: 1px solid white;
    background: transparent;
    width: 80%;
    padding: 20px;
    color: white;
}

#contact-us .section-header{
    margin-bottom : 30px;
}

@media only screen and (min-width :768px){
    /* Tablets and Large Screens */
    
    /* General CSS for large screens (including Tablets) */
    .desktop-hide{
        display: none;
    }

    /* Feel Free Section Begins */

    #feel-free h4{
        line-height: 30px;
        margin: 40px;
    }

    /* Feel Free Section Ends */

    /* Who We Are section Begins */
    
    #who-we-are{
        padding: 30px 90px 30px 90px;
    }

    /* Who We are section ends */

    /* Contact Us Section Begins */
    #contact-us{
        min-height: 95vh;
        background-size: cover;
        /* background-position: center; */
    }
    /* Contact Us Section Ends */

}

@media only screen and (max-width:767px){
    /* Small Screens */

    /* Header */
    #header{
        background-position:center;
        /* background-size: cover; */
    }
    #header .header-text{
        margin-bottom: 40px;
        text-align: center;
        font-size: 30px;
    }

    .thumbnail-text{
        margin-bottom: 100px;
    }
    /* Header Ends */

    /* Why Us Section Begins   */

    

    /* Why Us section Ends */

    /* Feel Free Section Begins */

    #feel-free h4{
        line-height: 30px;
    }

    #feel-free .section-link{
        margin: 40px;
    }


    /* Feel Free Section Ends */

    /* Who We Are Section Begins */
    #who-we-are{
        padding: 20px;
    }
    #who-we-are p{
        font-size: 18px;
    }

    /* Who We Are Section Ends */

    /* Contact Us Section Begins */
    #contact-us{
        min-height: 100vh;
        background-position: center left;
    }
    /* Contact Us Section Begins */

}