
/* .container {
    margin-top: 50px;
} */

/* body,
h1,
h4{
    margin: 0;
    padding: 0;
    border: 0;
} */

body {
    
    /* background: 
                linear-gradient(to right bottom, rgba(68, 160, 141, 0.7), rgba(9, 54, 55, 0.7)), 
                url(../img/background.jpeg);
     */
    background: #1f68d5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    color: white;
    font-size: 40px;
    padding-bottom: 40px;    
}
h4{
    font-size: 20px;
    padding-bottom: 40px;
}
.title{
    margin-top: 90px;
}

.service-container{
    margin-top: 50px;
}
.before-container{
    background-image : url(../img/dummy.jpeg); 
    height: 50vh;
}
.after-container{

    background-image : url(../img/dummy.jpeg); 
    height: 50vh;
}

.text-container{
    background: rgb(34,34,34);
}

@media only screen and (max-width:767px){
    .before-container,
    .after-container{
        height: 40vh;
    }
    .service-container{
        padding: 20px;
    }
}
